/*------- colors --------*/ 
$grey: #333333;
$grey2: #3f3f3f;
$lighterGray: #dddddd;
$white: #ffffff;
$black: #000000;
$green: #1abc9c;
$green2: #16a085;
$purple: #5d4157;

/*--------- header variables ------------*/
$header-font-color: $grey;
$header-background: $white;
$header-menu-font-color: $grey;
$header-background-hover-color: $green;
$header-border-hover-color: $green2;
$header-logo-font-family: Open Sans, sans-serif;
$header-menu-font-family: 'Raleway', sans-serif;

/*----------- welcome variables -----------*/
$welcome-font-family: 'Lato', sans-serif;
$welcome-font-color: $white;


/*---------- check-out variables  ------------*/
$check-out-background-color: $purple;
$check-out-font-family: 'Lato', sans-serif;
$check-out-font-color: $white;




/*------------- responsive break points  -----------*/ 
$breakpoints: (
	smallPhones: 560px,
    phone: 768px,
    tablet: 992px,
    desktop: 1200px
);